.text {
  color: #fff;
  text-align: center;
  font-family: "Andale Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.break {
  @media (min-width: 768px) {
    display: none;
  }
}
