.container {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  & > * {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.1;
  }

  @media (max-width: 768px) {
    & > * {
      font-size: 36px;
    }
  }
}

.au {
  text-align: left;
  color: var(--color-text-pink);
}

.vimenter {
  color: var(--color-text-blue);
}

.asterisk {
  color: #fff;
  vertical-align: 20px;

  @media (max-width: 768px) {
    vertical-align: 8px;
  }
}

.call {
  text-align: left;
  margin-left: 60px;
  color: var(--color-text-pink);
}

.bye {
  color: #fff;
}
