.container {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.au {
  text-align: left;
  color: var(--color-text-pink);
}

.vimenter {
  color: var(--color-text-blue);
}

.asterisk {
  color: #fff;
  vertical-align: 20px;
}

.call {
  text-align: left;
  margin-left: 60px;
  color: var(--color-text-pink);
}

.bye2024 {
  color: #fff;
}
